* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    min-height: 100vh;
    width: 100%;

    display: grid;
    /* GOD I LOVE MINMAX */
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-template-columns: minmax(min-content, max-content) 1fr;
}

/* || Header */
.header{
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
/* || Header | Top */
.top {
    display: grid;
    grid-template-columns: min-content minmax(100px, 1fr) min-content max-content;
    place-items: center;
    gap: 10px;
    padding: 0 10px;
}
.top input {
    width: 100%;
}
.user-info.smaller > *{
    display: block;
}

/* || Header | Bot */
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    width: 100%;
    max-width: 20rem;
    display: flex;
    justify-content: space-evenly;
}
.buttons button {
    padding: 0.1em;
    width: 5rem;
}
/* || Sidebar */
.sidebar {
    background-color: rgb(187, 187, 253);
    grid-row: 1/3;

    display: grid;
    grid-auto-rows: min-content;
    gap: 1em;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5em;
}
.nav {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1em;
}
.nav ul li {
    margin-top: 0.2em;
}

/* || Main */
.main-content {
    background-color: #d6d3d3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* || Main | project */
.projects {
    display: grid;
    grid-template-rows: 50px repeat(auto-fill,minmax(200px, 1fr)) ;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr))
}
.section-header {
    grid-column: 1/-1;
}